    body {
    color: #efd;
    background: #453;
    padding: 0 5em;

    }

    footer{
    margin-top: 10px;
    }

    p {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
    margin: 1px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background: #675
    }

    post{
    color:#bf8;
    margin-left: 500px;
    margin-right: 500px;
    background-color: red;
    }

    .second{
    border-top: 1px dotted #fff;
    margin-top: 1.5em;
    font-size: 30px;
    font-weight: bold;
    margi
    }



    .third {
    color: #d9ffc1;
    margin: 1em;
    }

    .comment {
    border-top: 1px dotted #fff;
    margin-top: 2em
    }

    a{
    color: #efd;
    }

    .delete {
    float:right;
    }



