    body {
    color: #efd;
    background: #453;
    padding: 0 5em;

    }

    footer{
    margin-top: 10px;
    }

    .title {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
    margin: 1px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background: #675
    }

    div{
    color:#bf8;
    margin-left: 100px;
    margin-right: 100px;
    }

    .second{
    color: #efd;
    border-top: 1px dotted #fff;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-size: 30px;
    font-weight: bold;
    }

    .third {
    color: #d9ffc1;
    font-size: 19px;
    }

    .comment {
    color: #d9ffc1;
    font-size: 16px;
    margin-top: 10px;
    border-top: 1px dotted #fff;
    }

    a{
    color: #efd;
    }

    .delete {
    text-align: right;
    }



