<!DOCTYPE html>
<html>
  <head>
    <style type=text/css>{{ get_resource_as_string('static/styles.css') }}</style>
    {% if blog_title %}
    <title>{{ blog_title }} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}

  </head>
  <body>
    <footer>Microblog: <a href="/index">Home</a> | <a href="/login">Login</a></footer>
    <p class="title">{{ blog_title }} - microblog</p>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <div><li>{{ message }} </li></div>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>

