{% extends "base.html" %}
{% block content %}
<div class="second">Please login</div>
<div class="third">
{% if error %}
        <p>Error: {{ error }}</p>
{% endif %}
</div>

<form action="" method="post">
    <div class="third">Username:</div>
            <div class="third"><input type="text" name="username" value="{{request.form.username }}"></div>
           <div class="third"> Password:</div>
        <div class="third"><input type="password" name="password"></div>

            <div class="third"><input type="submit" value="login"></div>
</form>
{% endblock %}